<html>
  <head>
      <title>Kayla's blog</title>
  </head>
  <body>
      <div>
          <h1><a href="">Kayla's Blog</a></h1>
      </div>

      <div>
            <p>published: 24.09.2016, 14:02</p>
            <h2><a href="">My first post</a></h2>
            <p>Hey, I'm Kayla, and I'm writing this blog</p>
      </div>

      <div>
           <p>published: 24.09.2016, 14:07</p>
           <h2><a href="">My second post</a></h2>
           <p>I hope you like my posts!</p>
      </div>
  </body>
</html>
